.login-page {

  .list-md .item-block {
    border-bottom: 1px solid #D1D0D0;
  }
  .list-md .item-block .item-inner {
    border-bottom: 0;
  }

  .login-form {
    flex: 1;
    margin-top: 150px;
    text-align: center;
}

  .logo img {
    width: 500px !important;
  }

    ion-list {
        width: 85%;
        margin-left: 5%;
        margin-top: 5%;
    }

    .login-button {
        margin-top: 30px;
        font-size: 1.2em;
        background: linear-gradient(to right, #3F5EFB, #FC466B) !important;
        width: 85%;
        margin-left: 05%;
        border-radius: 20px;
    }

}
