<ion-header>
  <header></header>
  <ion-toolbar color="primary" no-border-bottom>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="changeSegment()">
      <ion-segment-button class='chamado-segment' value="hoje">
        Hoje
      </ion-segment-button>
      <ion-segment-button class='chamado-segment' value="proximos">
        Amanhã
      </ion-segment-button>
      <ion-segment-button class='chamado-segment' value="concluidos">
        Concluidos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="page-chamados">

  <div *ngIf='!(atendimentos$ | async)?.length'>
    <h3 text-center>Não há chamados!</h3>
  </div>

  <ion-card *ngFor='let atendimento of atendimentos$ | async; let i = index' (click)="openDetailsPage(atendimento._id)">
    <ion-card-header>
      <ion-row>

        <ion-col col-12 class="nome-cliente">
          <h2>
            <strong>
              {{ atendimento.cliente.nome_razao_social | uppercase}}
            </strong>
          </h2>
        </ion-col>
      </ion-row>


    </ion-card-header>


    <ion-card-content>
      <ion-list>
        <ion-row>
          <ion-col col-12>
            <p>
              <ion-icon name="pin" color="primary"></ion-icon>
              {{ atendimento.endereco.cidade +' - ' + atendimento.endereco.uf +', ' + cepMask(atendimento.endereco.cep) }}
            </p>
          </ion-col>

        </ion-row>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
