<!--
  Generated template for the ChamadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chamados</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color='primary'>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button class='chamado-segment' value="1">
        Disponíveis
      </ion-segment-button>
      <ion-segment-button class='chamado-segment' value="2">
        Concluidos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list >
    <ion-item-sliding *ngFor='let atendimento of atendimentos$ | async'>

      <ion-item class="chamados-card">
        <ion-grid>
          <ion-row>
            <h2>{{atendimento.cliente.nome}}</h2>
          </ion-row>
          <ion-row>

            <ion-col col-4>
                  <ion-icon name="pin" item-start></ion-icon>
                  {{atendimento.endereco.cidade}}
            </ion-col>

            <ion-col  offset-4 col-4>
                  <ion-icon name="construct" item-start></ion-icon>
                  Tipo
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>



      <ion-item-options side="left">
        <button class="btn-options" ion-button color="primary">
          <ion-icon name="ios-clipboard"></ion-icon>
          Inciar
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button class="btn-options" ion-button (click)="finalizarChamado(atendimento._id)" color="danger">
          <ion-icon name="close-circle"></ion-icon>
          Finalizar
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>




    <ion-item *ngIf="error">
      <strong>{{error}}</strong>
    </ion-item>
    <ion-item>
       <img *ngIf="myPhoto" class="img-responsive" [src]="myPhoto"/>
      <!-- {{myPhoto}} -->
    </ion-item>
    <ion-fab bottom right>
        <button (click)="takePhoto()" ion-fab><ion-icon name="camera"></ion-icon></button>
    </ion-fab>

    		<button (click)="increment()">Increment</button>
		<div>Current Count: {{ counter | async }}</div>
		<button (click)="decrement()">Decrement</button>

    <button (click)="reset()">Reset Counter</button>

    <pre>
      {{atendimentos$ | async | json}}
    </pre>
</ion-content>
