@import "./../../theme/variables.scss";

page-chamados {
   ion-content {
    ion-card {
      border-radius: 05px !important;
      h2 {
        color: #3f51b5 !important;
      }
      p {
        color: #212121 !important;
      }
    }

    .gps {
      button {
        font-size: 1.4rem !important;
       }
    }
  }

  .input-wrapper { text-align: center; }

  .chamado-segment {
    
    color: white !important;
    border-color: white !important;
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
    }
  }

  .btn-options {
    margin: 0px !important;
    height: 100% !important;
  }

  .item-inner {
    padding: 0px !important;
    margin: 0px !important;
  }
}