<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <pre *ngIf="(monitoramento$ | async) as monitoramento">
    {{ monitoramento$ | async | json }}
  </pre>
  <div *ngIf="(monitoramento$ | async) as monitoramento">
    <form-monitoramento
      [tipo]='tipo'
      [monitoramento]="monitoramento$ | async"
      *ngIf="monitoramento?.tipo_quilometragem === tipo">
    </form-monitoramento>
    <div *ngIf="monitoramento?.tipo_quilometragem !== tipo">
        <h1>Já exite um destino do {{ monitoramento?.tipo_quilometragem }} que não foi finalizado!</h1>
    </div>
  </div>
</ion-content>
