<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Outros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form-monitoramento
    [tipo]='tipo'
    [monitoramento]="monitoramento$ | async"
  >
  </form-monitoramento>
  <div *ngIf="(monitoramento$ | async) as monitoramento">
    <div *ngIf="monitoramento?.tipo !== tipo">
        <h1>Já exite um destino do {{ monitoramento?.tipo }} que não foi finalizado!</h1>
    </div>
  </div>

</ion-content>
