<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Abastecimento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <pre *ngIf="(monitoramento$ | async) as monitoramento">
    {{ monitoramento$ | async | json }}
  </pre>
  <form-monitoramento
    [tipo]='tipo'
    [monitoramento]="monitoramento$ | async"
  >
  </form-monitoramento>
  <div *ngIf="(monitoramento$ | async) as monitoramento">
    <div *ngIf="monitoramento?.tipo_quilometragem !== tipo">
        <h1>Já exite um destino do {{ monitoramento?.tipo_quilometragem }} que não foi finalizado!</h1>
    </div>
  </div>

</ion-content>
