@import './../../theme/variables.scss';

page-details {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;

  ion-content {
    h2 {
      color: #3F51B5 !important;
    }
    p {
      color: #212121 !important;
    }
    .line {
      border-bottom: 2px dashed #e5e5e5 !important;
    }

    ion-icon {
      font-size: 2.2rem !important;
    }
  }

  ion-fab {
    top: -1.7rem !important;

    i {
      color: #448AFF !important;
      font-size: 2.3rem !important;
    }
  }


  .address {
    p {
      line-height: 2.3rem !important;
    }
  }
}
